@font-face {
  font-family: "SF Pro Display";
  src: url("../public/fonts/SF-Pro-Display-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SF UI Text";
  font-style: normal;
  font-weight: normal;
  src: url("../public/fonts/SFUIText-Regular.woff") format("woff");
}
@font-face {
  font-family: "SF UI Text Medium";
  font-style: normal;
  font-weight: normal;
  src: url("../public/fonts/SFUIText-Medium.woff") format("woff");
}
